<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieticket">

    <application
        android:name=".MovieTicketApp"
        android:allowBackup="true"
        android:icon="@mipmap/ticket"
        android:label="Easy Booking"
        android:roundIcon="@mipmap/ticket"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MovieListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MovieDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <activity
            android:name=".activities.SeatSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.BookingResultActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.UserActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.MyBookingActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>